/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* #root 의 높이를 언제나 화면의 높이와 맞춘다. */
html,
body,
#root {
  height: 100%;
}

/* 지마켓산스 폰트 적용 */
html > body,
html > body input,
html > body select,
html > body textarea,
html > body pre,
html > body button {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
  line-height: 1.3; /* 이 폰트 특성상 */
}

.border {
  border: 10px solid black;
}

/* 테마 시작 */

/* 테마 light */
:root {
  --background-color: white;
  --text-color: #343434;
  --primary-color-1: #9122e0;
}

/* 테마 dark */
:root.dark {
  --background-color: #343434;
  --text-color: white;
  --primary-color-1: #9122e0;
}

:root {
  color: var(--text-color);
  background-color: var(--background-color);
  transition: all 2s;
}

.color-primary {
  color: var(--primary-color-1);
}

:root.dark .color-primary {
  filter: brightness(150%);
}

/* 테마 끝 */
